# Common
ML_SERVICE_API_KEY=dev_shared_key_abcd1234

# Backend configuration
ML_SERVICE_BASE_URL=http://localhost:8001
BLOCKCHAIN_SERVICE_BASE_URL=http://localhost:8545

# Frontend configuration (Used during build)
VITE_API_BASE_URL=http://localhost:8000
